.SidebarChat{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: .5rem;
    padding-left: 1rem;
    cursor: pointer;
}
.SidebarChat:hover{
    background-color: rgb(249, 246, 246);
}
.sidebarChat__info{
    flex: 1;
    padding-left: .8rem;
    font-size: 14px;
}
.sidebarChat__info  p{
    color: gray;
}